html {
  color: #fff;
  font-size: 3em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-image: url('/assets/img/balrog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
body, html {
  height: 100%;
  overflow: hidden;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
